<h1>Shopping Cart</h1>
<h2>Items (<%= @order.nil? ? 0 : @order.item_total %>)</h2>

<% if @ops.empty? %>
  <h3>
    Your cart is currently empty. <%= link_to "Continue Shopping", products_path %>
  </h3>
<% else %>
  <%= render partial: "cart", locals: { ops: @ops } %>
  <%= link_to "Checkout", edit_order_path(@ops.first.order), class: "button" %>
<% end %>
