<h1>Order Fulfillment</h1>

<h5>Paid Orders (<% @orders["paid"].nil? ? "0" : @orders["paid"].count %>) |
  Shipped Orders (<% @orders["shipped"].nil? ? "0" : @orders["shipped"].count %>) |
  Cancelled Orders (<% @orders["cancelled"].nil? ? "0" : @orders["cancelled"].count %>)</h5>

<p> Total revenue: </p>
