<h1> <%= @merchant.username %>'s Plantsy Shop</h1>

<section class="row">
  <% @products.each do |product| %>
  <div class="large-2 columns">
    <ul>
      <li class="shop">
        <% if product.retired == false %>
        <p><%= link_to "#{product.name}", product_path(product.id) %></p>
        <p class="home_image"><%= image_tag product.photo_url %></p>
        <p>$<%= link_to product.price %> each</p>
          <% end %>
        </li>
      </ul>
  </div>
<% end %>
</section>
