<h6> <%= @merchant.username %>'s Plantsy Shop</h6>

<section class="row">
  <% @products.each do |product| %>
  <div class="large-4 columns">
    <ul>
      <li class="shop">
        <% if product.retired == false %>
        <h6><%= link_to "#{product.name}", product_path(product.id) %></h6>
        <p class="home_image"><%= image_tag product.photo_url %></p>
        <p>$<%= product.price %> each</p>
          <% end %>
        </li>
      </ul>
  </div>
<% end %>
</section>
