
nav {
    z-index: 2;
    position: relative;
    clear: both;
}
#navbar {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 1100px;
    height: 57px;
    font-size: 15px;
    font-weight: bold;
  }
  #navbar li {
    float: left;
    position: relative;
    background: url(../images/bullet.png) no-repeat 0 25px;
    z-index: 1;
    width: 120px;
  }

  #navbar h3 {
    height: 47px;
    padding: 10px 25px 0 25px;
    color: #393f14;
    font-weight: 800;
    font-size: 15px;
    line-height: 17px;
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
nav {
  display: block;
}
