
/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*/

@import url('https://fonts.googleapis.com/css?family=Cuprum');

* {
  font-family: 'Cuprum', sans-serif;
}

nav {
  z-index: 2;
  position: relative;
  clear: both;
  background-color: lightgray;
}
.cart{
  position: absolute;
  top: 30px;
  right: 30px;
}

#navbar {
  display: block;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.categories {
  border-bottom: 2px solid lightgray;
  margin-bottom: 25px;
}
h6{
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
}

.shop {
  display: inline-block;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 20px;
  height: 325px;
  width: 300px;
  margin-top: 20px;
  margin-left: 9%;
  text-align: center;
  padding-top: 10%;
  background-color: rgba(76, 175, 80, 0.1);
}

.shop h6 {
  font-weight: bold;
}

.item {
  display: inline;
  border: 2px solid lightgray;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin: 10%;
  text-align: center;
  padding-top: 10%;
}

.item img {
  width: auto;
  height: 200px;

}

.home_image {
  width: 45%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 18px;
}

#price {
  margin-top: 10px;
}

td img {
  width: auto;
  height: 25%;
  margin-top: 18px;
}

footer{
  margin-top: 83px;
  height: 217px;
  border-top-width: 27px;
  padding-top: 52px;
  width: 1446px;
  margin-bottom: 27px;
  background-color: lightgray;
}

#navbar a {
  padding: 0 1%;
  font-size: 1.25em;
}

a:hover {
  color: #26734d;
}

.italicized {
  font-style: italic;
}

.button {
  box-shadow: 3px 3px 3px #888888;
}

.footer-links a.button {
  padding-right: 20px;
}
