
/* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*/
nav {
  z-index: 2;
  position: relative;
  clear: both;
}
.cart{
  position: absolute;
  top: 30px;
  right: 30px;
  /*margin-top: 23px;*/
  /*margin-left: 268px;*/
  /*margin-top: 50px;*/
  /*margin-left: 20%;*/
}
#navbar {
  display: block;
  /*margin: 0 auto;*/
  /*padding: 0;*/
  /*list-style: none;*/
  /*width: 1100px;
  height: 57px;*/
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

/*#navbar li {
  float: left;
  position: relative;
  background: url(../images/bullet.png) no-repeat 0 25px;
  z-index: 1;
  width: 120px;
  margin: 1px;
}

#navbar h3 {
  height: 47px;
  padding: 10px 25px 0 25px;
  color: #393f14;
  font-weight: 800;
  font-size: 15px;
  line-height: 17px;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}*/

.categories {
  border-bottom: 2px solid lightgray;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
}

.shop {
  display: inline-block;
  /*border: 2px solid lightgray;*/
  background: rgba(76, 175, 80, 0.1);
  box-shadow: 5px 5px 5px #888888;
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin-top: 10%;
  margin-left: 9%;
  text-align: center;
  padding-top: 10%;
}

.item {
  display: inline;
  border: 2px solid lightgray;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin: 10%;
  text-align: center;
  padding-top: 10%;
}

.item img {
  width: auto;
  height: 200px;
}

.home_image {
  width: 45%;
  height: auto;
  display: block;
  margin: 0 auto;
}

td img {
  width: auto;
  height: 25%;
  /*display: block;*/
  /*margin: 0 auto;*/
}

footer{
  margin-top: 83px;
  height: 217px;
  border-top-width: 27px;
  padding-top: 52px;
  width: 1446px;
  margin-bottom: 27px;
  background-color: lightgray;
}

#navbar a {
  padding: 0 1%;
  font-size: 1.25em;
}

a:hover {
  color: black;
}

.italicized {
  font-style: italic;
}
