// Place all the styles related to the orderedproducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .update {
//   width: 30%;
// }

.quantity-form {
  display: inline-block;
}

.total {
  font-size: 1.3em;
}
