// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders {
  padding: 15px;
  box-shadow: 5px 5px 5px #888888;
}

.order {
  padding: 10px;
}

.product-image {
  height: 40px;
  padding-left: 10px;
}

.total, .header {
  font-weight: bold;
}

.order-table {
  text-align: left;
}

.smaller {
  font-size: smaller;
}

#paid, #shipped, #cancelled {
  margin: 0;
  margin-top: 50px;
  background: rgba(76, 175, 80, 0.05)
}
