// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders {
  border: 2px solid gray;
}

.order {
  border: 2px solid lightgray;
}

.product-image {
  height: 5%;
}
