

<section class="row">
  <% @products.each do |product| %>
  <div class="large-4 columns">
    <ul>
      <li class="shop">
      <p><%= link_to product.name, product_path(product.id) %></p>
      <p class="home_image"><%=  image_tag product.photo_url %></p>
      <p><%= link_to product.name, product_path(product.id) %></p>
    </li>
  </ul>
  </div>
  <% end %>
</section>
